<div class="container-fluid">
    <div class="about">
        <p>Настоящее пользовательское соглашение, далее “Соглашение”, заключается между Интернет-магазином gdmoda.ru,
            имеющим адрес в сети Интернет www.gdmoda.ru, далее “Интернет-магазин” или “Сайт”, и пользователем услуг
            Интернет-магазина, далее “Покупатель”, и определяет условия приобретения товаров через Сайт.</p>
        <ol start="1">
            <li><strong>Основные положения</strong></li>
        </ol>
        <p>1.1. Продавец осуществляет продажу товаров через Интернет-магазин по адресу <a
                href="https://gdmoda.ru">https://gdmoda.ru</a>
        </p>
        <p>1.2. Заказывая Товары через Интернет-магазин, Пользователь соглашается с условиями продажи и
            доставки Товаров, изложенными ниже (далее — Условия продажи товаров). В случае несогласия с
            настоящим Пользовательским соглашением (далее — Соглашение / Публичная оферта) Пользователь обязан
            немедленно прекратить использование сервиса и покинуть сайт <a
                href="https://gdmoda.ru">https://gdmoda.ru</a>.
        </p>
        <p>1.3. Настоящие Соглашение, а также информация о товаре, представленная на Сайте, являются публичной
            офертой в соответствии со ст.435 и ч.2 ст.437 ГК РФ.
        </p>
        <p>1.4. К отношениям между Покупателем и Интернет-магазином применяются положения ГК РФ о продажи
            товаров дистанционным способом (ст.497 Федерального закона РФ от 25.10.2007 N 234-ФЗ ), а также
            Закон РФ «О защите прав потребителей» от 07.02.1992 № 2300-1 и иные правовые акты, принятые в
            соответствии с ними.
        </p>
        <p>1.5. Покупателем может быть любое физическое лицо, способное принять и оплатить заказанный им товар
            в порядке и на условиях, установленными настоящим Соглашением, на территории Украини.
        </p>
        <p>1.6. Интернет-магазин оставляет за собой право вносить изменения в настоящее Соглашение.
        </p>
        <p>1.7. Настоящее Соглашение должно рассматриваться в том виде, как оно опубликовано на Сайте, и должно
            применяться и толковаться в соответствии с законодательством Украини</p>
        <ol start="2">
            <li><strong>Предмет соглашения</strong></li>
        </ol>
        <p>2.1. Предметом настоящего Соглашения является предоставление возможности Пользователю приобретать
            для личных, семейных, домашних и иных нужд, не связанных с осуществлением предпринимательской
            деятельности, Товары, представленные в каталоге Интернет-магазина по адресу <a
                href="https://gdmoda.ru">https://gdmoda.ru</a>.
        </p>
        <p>2.2. Данное Соглашение распространяется на все виды Товаров и услуг, представленных на Сайте, пока
            такие предложения с описанием присутствуют в каталоге Интернет-магазина.</p>
        <ol start="3">
            <li><strong>Информация о товаре</strong></li>
        </ol>
        <p>3.1. Товар представлен на Сайте через фото-образцы, являющиеся собственностью Интернет-магазина.
        </p>
        <p>3.2. Каждый фото-образец сопровождается текстовой информацией: артикулом, ценой и описанием товара.
        </p>
        <p>3.3. По просьбе Покупателя менеджер Интернет-магазина обязан предоставить (по телефону или
            посредством электронной почты) прочую информацию, необходимую и достаточную, с точки зрения
            Покупателя, для принятия им решения о покупке товара.
        </p>
        <p>3.4. Указанная на Сайте цена товара может быть изменена Интернет-магазином в одностороннем порядке.
        </p>
        <p>3.5. В случае изменения цены товара, заказанного Покупателем, менеджер Интернет-магазина при первой
            возможности информирует об этом Покупателя (по телефону или посредством электронной почты) для
            получения подтверждения либо аннулирования заказа. При невозможности связаться с Покупателем данный
            заказ считается аннулированным.</p>
        <ol start="4">
            <li><strong>Порядок приобретения товара</strong></li>
        </ol>
        <p>4.1. Покупатель вправе оформить заказ на любой товар, представленный на Сайте. Каждый товар может быть
            заказан лишь в единичном экземпляре. Заказ может быть оформлен Покупателем следующим способом:
            самостоятельно на Сайте.
        </p>
        <p>4.2. После оформления заказа на e-mail Покупателя отправляется письмо, подтверждающее принятие заказа, с
            указанием наименований выбранных товаров и общей суммы заказа, являющийся неотъемлемой частью настоящего
            Соглашения. Далее менеджер Интернет-магазина связывается с Покупателем (по телефону или посредством
            электронной почты) для получения подтверждения заказа.
        </p>
        <p>4.3. При отсутствии товара на складе менеджер Интернет-магазина обязан поставить в известность об этом
            Покупателя (по телефону или посредством электронной почты).
        </p>
        <p>4.4. При отсутствии товара Покупатель вправе заменить его другим товаром либо аннулировать заказ.</p>
        <ol start="5">
            <li><strong> Доставка и приемка-передача товара</strong></li>
        </ol>
        <p>5.1. Доставка товара, заказанного в Интернет-магазине, осуществляется сторонними службами доставки
            по территории Украини и всего Мира.
        </p>
        <p>5.2. Расходы по доставке товара оплачиваются Покупателем по тарифам, указанным на Сайте в разделе
            «Заказ и Доставка».
        </p>
        <p>5.3.Стоимость доставки рассчитывается в момент оформления заказа и включается в итоговую сумму
            заказа.
        </p>
        <p>5.4. Отправка и доставка заказанного товара производится в оговоренные с Покупателем сроки.
        </p>
        <p>5.5 Обязанность Продавца передать товар Покупателю считается исполненной в момент получения Товара
            Получателем.
        </p>
        <p>5.6. Покупатель несет полную ответственность за предоставление неверных сведений, повлекшее за собой
            невозможность надлежащего исполнения Продавцом своих обязательств перед Покупателем.
        </p>
        <p>5.7. Риск случайной гибели или случайного повреждения Товара переходит к Покупателю с момента
            передачи ему Заказа и проставления Получателем Заказа подписи в документах, подтверждающих доставку
            Заказа. В случае недоставки Заказа Продавец возмещает Покупателю стоимость предоплаченного
            Покупателем Заказа и доставки в полном объеме после получения от Службы доставки подтверждения
            утраты Заказа.</p>
        <ol start="6">
            <li><strong>Оплата товара</strong></li>
        </ol>
        <p>6.1. Способы оплаты товара указаны на Сайте в разделе “Заказ и Доставка”.
        </p>
        <p>6.2. Передача товар в службу доставки осуществляется только после оплаты Покупателем полной стоимости заказа,
            включая расходы на доставку, рассчитанные при оформлении заказа.
        </p>
        <p>6.3. Товар оплачивается только в рублях.</p>
        <ol start="7">
            <li><strong>Возврат товара</strong></li>
        </ol>
        <p>7.1. Покупатель вправе отказаться от заказанного Товара в любое время до его оплаты и передачи Продавцом
            Покупателю, либо в службу доставки.
        </p>
        <p>
            7.2. Пользователь понимает и соглашается с тем, что: с момента оплаты и передачи ему Заказа и проставления
            Получателем Заказа подписи в документах, подтверждающих доставку Заказа в соответствии с Постановлением
            Правительства РФ от 06.06.1998 N 569 (ред. от 04.10.2012) “Об утверждении Правил комиссионной торговли
            непродовольственными товарами” и “Правилами продажи отдельных видов товаров” утвержденными Правительством
            РФ, реализуемые в Интернет-магазине товары возврату не подлежат.
        </p>
        <p>7.3. Продавец обязуется предупреждать на Сайте и по телефону Посетителя Сайта/Пользователя/Покупателя о
            наличии недостатков в Товаре, размещаемом на Сайте.
        </p>
        <p>7.4. Если Покупателю был передан Товар с наличием недостатков и оное не было заранее оговорено Продавцом,
            Покупатель вправе воспользоваться положениями ст. 18 «Права потребителя при обнаружении в товаре
            недостатков» Закона о защите прав потребителей.
        </p>
        <p>7.5. Требования о возврате уплаченной за товар денежной суммы подлежат удовлетворению в течение 10 дней со
            дня предъявления соответствующего требования (ст. 22 Закона РФ «О защите прав потребителей»).
        </p>
        <p>7.6. Возврат денежных средств осуществляется посредством возврата стоимости оплаченного Товара на банковскую
            карту или наличными средствами, в зависимости от способа оплаты Товара Покупателем. Способ должен быть
            указан в соответствующем поле заявления на возврат Товара.</p>
        <ol start="8">
            <li><strong>Прочее</strong></li>
        </ol>
        <p>8.1. Продавец не несет ответственности за ущерб, причиненный Покупателю вследствие ненадлежащего
            использования Товаров, приобретенных в Интернет-магазине.
        </p>
        <p>8.2. Настоящая Публичная оферта вступает в силу с момента ее акцепта Посетителем Сайта/Покупателем, и
            действует до момента отзыва акцепта Публичной оферты.
        </p>
        <p>8.3. Продавец вправе переуступать либо каким-либо иным способом передавать свои права и обязанности,
            вытекающие из его отношений с Покупателем, третьим лицам.
        </p>
        <p>8.4. Интернет-магазин и предоставляемые сервисы могут временно частично или полностью недоступны по причине
            проведения профилактических или иных работ или по любым другим причинам технического характера.
            Интернет-магазин имеет право периодически проводить необходимые профилактические или иные работы с
            предварительным уведомлением Покупателей или без такового.
        </p>
        <p>8.5. К отношениям между Пользователем/Покупателем и Продавцом применяются положения Украинского
            законодательства.
        </p>
        <p>8.6. В случае возникновения вопросов и претензий со стороны Пользователя/Покупателя он должен обратиться к
            Продавцу по телефону или иным доступным способом. Все возникающее споры стороны будут стараться решить путем
            переговоров, при не достижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии
            с действующим законодательством РФ.
        </p>
        <p>8.7. Признание судом недействительности какого-либо положения настоящего Соглашения не влечет за собой
            недействительность остальных положений.</p>
    </div>
</div>