<div class="footer">
    <div class="footer-container">
        <div class="block1">
            <div class="menu">
                <li class="menu-item">
                    <a class="menu-link" routerLinkActive="myActive" routerLink="about">About</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" routerLinkActive="myActive" routerLink="order">Order</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" routerLinkActive="myActive" routerLink="brands">Brands</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" routerLinkActive="myActive" routerLink="confidentiality">Confidentiality</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" routerLinkActive="myActive" routerLink="user-agreement">User Agreement</a>
                </li>
            </div>
        </div>
        <div class="block1">
            <h3>SHOW-ROOM:</h3>
            <div class="textwidget">
                <p class="widget">м.Львів</p>
                <p class="widget">Франківський район</p>
                <p class="widget">вул. Івана Франка, буд. 61</p>
                <p class="widget"><a href="" class="widget-link">На карті</a></p>
            </div>
        </div>
        <div class="block1">
            <h3>Our Contacts:</h3>
            <div class="textwidget">
                <p class="widget"><a href="spb.garmentdistrict@gmail.com" target="_blanck"
                        class="widget-link">spb.garmentdistrict@gmail.com</a></p>
                <p class="widget">тел.: +38(068) 316-18-70</p>
            </div>
        </div>
        <div class="block1">
            <h3>we are in other apps:</h3>
            <div class="social-networks">
                <div class="vk"><a href="https://vk.com/" class="color" target="_blanck" title="VKontakte"><i
                            class="fab fa-vk"></i></a></div>
                <div class="fb"><a href="https://www.facebook.com/" class="color" target="_blanck" title="Facebook"><i
                            class="fab fa-facebook-square"></i></a></div>
                <div class="itg"><a href="https://www.instagram.com/?hl=uk" class="color" target="_blanck"
                        title="Instagram"><i class="fab fa-instagram"></i></a></div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="row">
            <div class="prava">Всі права захищені © 2019 - Garment District</div>
            <div class="block-partners">
                <div class="partners">
                    <a>
                        <img class="partner"
                            src="https://firebasestorage.googleapis.com/v0/b/project-01-a1213.appspot.com/o/images%2Fpartner_1.png?alt=media&token=c8dacbbe-7dba-47ee-923d-a726e6ac8020"
                            alt="">
                    </a>
                    <a>
                        <img class="partner"
                            src="https://firebasestorage.googleapis.com/v0/b/project-01-a1213.appspot.com/o/images%2Fpartner_2.png?alt=media&token=42829516-e7e1-4a84-9a9a-1d7575c0bb10"
                            alt="">
                    </a>
                    <a>
                        <img class="partner"
                            src="https://firebasestorage.googleapis.com/v0/b/project-01-a1213.appspot.com/o/images%2Fpartner_3.png?alt=media&token=20a83db1-9565-4a25-91c4-f9783e1842af"
                            alt="">
                    </a>
                    <a>
                        <img class="partner"
                            src="https://firebasestorage.googleapis.com/v0/b/project-01-a1213.appspot.com/o/images%2Fpartner_4.png?alt=media&token=1849f6f2-4820-4006-836e-8df9ffe2ed66"
                            alt="">
                    </a>
                    <a>
                        <img class="partner"
                            src="https://firebasestorage.googleapis.com/v0/b/project-01-a1213.appspot.com/o/images%2Fpartner_5.png?alt=media&token=6f2c816e-cc79-41fd-9fc1-3bf58ceae9fa"
                            alt="">
                    </a>
                    <a>
                        <img class="partner"
                            src="https://firebasestorage.googleapis.com/v0/b/project-01-a1213.appspot.com/o/images%2Fpartner_6.png?alt=media&token=677cd032-c20a-4fd2-8a53-c3f40a56293d"
                            alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>