<div class="container-fluid">
    <div class="about">
        <p>Garment District — show-ROOM мужской одежды премиум класса, подобранной со вкусом и знанием дела. Ни одна
            вещь в нашем ассортименте не попала в него случайно.</p>
        <p>Работаем с 2014 года. На 2019 год у нас 900 оригинальных брендовых вещей в наличии за 15-25% от их розничной
            цены.</p>
        <p>Подберем крутой образ для Вас, поможем сэкономить.
            Работаем по записи.
            Выберем удобное для Вас время.
            Расскажем, как лучше к нам добраться.
            Отправляем посылки по всему миру.
            Записаться к нам на примерку можно по телефону: +38 (068) 316-18-70</p>
        <div class="casual">
            <p><b>Casual</b></p>
            <div class="casual-main-foto"><img src="" alt=""></div>
            <div class="casual-last-foto">
                <div class="casual-first-foto"></div>
                <div class="casual-second-foto"></div>
            </div>
        </div>
        <div class="classic">
            <p><b>Classic</b></p>
            <div class="classic-main-foto"></div>
            <div class="classic-last-foto">
                <div class="classic-first-foto"></div>
                <div class="classic-second-foto"></div>
            </div>
        </div>
        <div class="video">
            <p><b>Дивіться відео про нас</b></p>
            <div class="video-href">
                <iframe width="100%" height="292" src="https://www.youtube.com/embed/c9aaP3J_MXY" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>