<div class="container-fluid">
    <div class="about">
        <p><strong>Конфиденциальность и защита информации</strong></p>
        <ol>
            <li>Персональные данные Пользователя/Покупателя обрабатывается всоответствии с ФЗ «О персональных данных» №
                152-ФЗ.</li>
            <li>При регистрации на cайте Пользователь предоставляет следующую информацию: Фамилия, Имя, адрес
                электронной
                почты, пол, размер одежды и обуви.
            </li>
            <li>
                Предоставляя свои персональные данные Продавцу, Посетитель Сайта/Пользователь/Покупатель соглашается на
                их обработку Продавцом, в том числе в целях выполнения Продавцом обязательств перед Посетителем
                Сайта/Пользователем/Покупателем в соответствии с Договором розничной купли-продажи товаров, продвижения
                Продавцом товаров и услуг, проведения электронных опросов, контроля результатов маркетинговых акций,
                клиентской поддержки, организации доставки товара Покупателям, проведение розыгрышей призов среди
                Посетителей Сайта/Пользователей/ Покупателей, контроля удовлетворенности Посетителя
                Сайта/Пользователя/Покупателя, а также качества услуг, оказываемых Продавцом.
            </li>
            <li>
                Под обработкой персональных данных понимается любое действие (операция) или совокупность действий
                (операций), совершаемых с использованием средств автоматизации или без использования таких средств с
                персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение
                (обновление, изменение) извлечение, использование, передачу (в том числе передачу третьим лицам, не
                исключая трансграничную передачу, если необходимость в ней возникла в ходе исполнения обязательств),
                обезличивание, блокирование, удаление, уничтожение персональных данных.
            </li>
        </ol>
        <p>4.1. Продавец имеет право отправлять информационные, в том числе рекламные сообщения, на электронную почту
            Пользователя/Покупателя с его согласия, выраженного посредством совершения им действий, однозначно
            идентифицирующих этого абонента и позволяющих достоверно установить его волеизъявление на получение
            сообщения. Пользователь/Покупатель вправе отказаться от получения рекламной и другой информации без
            объяснения причин отказа путем отписки от рассылки при нажатии на соответствующую ссылку в полученном
            рекламном или ином электронном письме, либо посредством направления соответствующего заявления на
            электронный адрес Продавца: <a href="spb.garmontdistrict@gmail.com">spb.garmontdistrict@gmail.com</a>.
            Сервисные сообщения, информирующие
            Пользователя/Покупателя о заказе/бронировании/заявке на сдачу вещей и этапах их обработки, отправляются
            автоматически и не могут быть отклонены Пользователем/Покупателем.</p>
        <p>4.2. Отзыв согласия на обработку персональных данных осуществляется также путем отписки от рассылки при
            нажатии на соответствующую ссылку в полученном рекламном или ином электронном письме, либо посредством
            направления соответствующего заявления на электронный адрес Продавца: <a
                href="spb.garmontdistrict@gmail.com">spb.garmontdistrict@gmail.com</a>.</p>
        <p>4.3. Соглашаясь на обработку персональных данных, Покупатель также соглашается на использование функции User
            ID (Google Analytics), которая присваивает Покупателю идентификатор, позволяющий отслеживать его поведение
            на сайте (клики по ссылкам и просмотры страниц).</p>
        <ol start="5">
            <li>Продавец вправе использовать технологию «cookies». «Cookies» несодержат конфиденциальную информацию.
                Посетитель / Пользователь / Покупатель настоящим дает согласие насбор, анализ и использование cookies, в
                том числе третьими лицами для целей формирования статистики и оптимизации рекламных сообщений.
            </li>
            <li>Продавец получает информацию обip-адресе посетителя Сайта <a href="www.gdmoda.ru">www.gdmoda.ru</a>.
                Данная информация не
                используется для установления личности посетителя.</li>
        </ol>
    </div>
</div>